@model Courts_Searchable_Dropdown.Models.Courts

@{ ViewBag.Title = "List of courts"; }

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <h1>Choose one court to schedule your appointment at</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Show", "Courts", FormMethod.Post, new {role = "form"}))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Id)
                        @Html.TextBoxFor(m => m.Id, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CourtsListItems)
                        @Html.DropDownListFor(m => m.Name,
                            Model.CourtsListItems,
                            "- Please select a court -",
                            new
                            {
                                @class = "form-control selectpicker",
                                data_show_subtext="true",
                                data_live_search="true"
                            })
                    </div>
                    <button type="submit" class="btn btn-primary">Show court details</button>
                }
            </div>
        </div>
    </div>
</div>